{%extends "catalog/base.html"%}
{% load static %}

{% block title %}<title>Каталог Chocolate palette</title>{%endblock%}
{%block head%}<h1 class="h1">Каталог</h1>{%endblock%}
{%block content%}
<div class="container px-0">
    <div class="pp-gallery">
        <div class="card-columns">
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href='{% url "item" 3 %}'>
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/1-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="item.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/9-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bar&quot;]"><a href="item.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/3-bar.jpg"%}' alt="bar"/>
                    <figcaption>
                        <div class="h4">Плитка</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="item.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/4-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="bonbon-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/6-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>

            <div class="card" data-groups="[&quot;bar&quot;]"><a href="bar-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/14-bar.jpg"%}' alt="bar"/>
                    <figcaption>
                        <div class="h4">Плитка</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="bonbon-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/7-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="bonbon-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/16-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;mediant&quot;]"><a href="mediant-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/5-mediant.jpg"%}' alt="mediant"/>
                    <figcaption>
                        <div class="h4">Медианты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>

            <div class="card" data-groups="[&quot;bombs&quot;]"><a href="#">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/10-bombs.jpg"%}' alt="bombs"/>
                    <figcaption>
                        <div class="h4">Какао-бомбочки</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>

            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="bonbon-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/11-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bar&quot;]"><a href="bar-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/13-bar.jpg"%}' alt="bar"/>
                    <figcaption>
                        <div class="h4">Плитка</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="bonbon-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/12-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>


            <div class="card" data-groups="[&quot;mediant&quot;]"><a href="mediant-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/15-mediant.jpg"%}' alt="mediant"/>
                    <figcaption>
                        <div class="h4">Медианты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
            <div class="card" data-groups="[&quot;bonbon&quot;]"><a href="bonbon-info.html">
                <figure class="pp-effect"><img class="img-fluid" src='{%static "catalog/images/8-bonbon.jpg"%}' alt="bonbon"/>
                    <figcaption>
                        <div class="h4">Конфеты</div>
                        <p>узнать больше</p>
                    </figcaption>
                </figure></a></div>
        </div>
    </div>
</div>
{%endblock%}